@using System.Web.UI.WebControls
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../../ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <title>ADV.SPARE-AUTO.COM -  @ViewBag.Message</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/Site.css" rel="stylesheet">
    <meta name="keyword" content="объявления;отзывы;блоги">
    <meta name="keyword" content="Сайт объявлений; подать объявление">
    
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />

    <!-- styles needed for carousel slider -->
    <link href="/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="/assets/css/owl.theme.css" rel="stylesheet">
    <link href="/assets/css/skin-2.css" rel="stylesheet">
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockout")

    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- include pace script for automatic web page progress bar -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-71032172-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script>
        paceOptions = {
            elements: true
        };

        var siteURL = 'adv.spare-auto.com';

        function addToFavorites(description) {
            if (ie) {
                window.external.AddFavorite(siteURL, description);
            } else {
                alert('Только для Internet Explorer 5+');
            }
        }


        function addBookmark() {
            if (document.all) window.external.addFavorite('http://adv.spare-auto.com', 'Удобные объявления, блоги и другое');
        }
    </script>

    <script src="/assets/js/owl.carousel.min.js"></script>
</head>
<body class="">
    
    @RenderSection("scripts", required: false)

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- adv large long box -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9707096941681181"
         data-ad-slot="8754484356"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
            
                
                    <div>
                        @Html.ActionLink("Главная", "Index", "Home") |
                        @Html.ActionLink("Все блоги", "Index", "Blog") |
                        @Html.ActionLink("Все отзывы", "All", "Review") |
                        @Html.ActionLink("Поиск объявлений", "Search", "Category") |
                        <a style="color: green" class="icon-certificate-1 icon-color-1" href="http://adv.spare-auto.com" rel="sidebar" onclick=" addToFavorites('Сайт объявлений, удобных блогов и отзывов') ">В избранное</a> |
                        <a target="_blank" href="http://vk.com/spare_auto"><i class="fa fa-twitter fa-vk"></i> Мы ВКонтакте</a>
                    </div>
                
            
    

<div id="wrapper">


    <div class="header">
        <nav class="navbar navbar-site navbar-default" role="navigation">
            <div class="container">
              
                <div class="navbar-header">


                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span> <span class="icon-bar"></span></button>
                    @Html.ActionLink(" ", "Index", "Home", null, new {@class = "logoicon"})
                    @Html.ActionLink("ADV.SPARE-AUTO.COM", "Index", "Home", null, new {@class = "logo"})

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        @if (!Request.IsAuthenticated)
                        {
                            <text>

                                <li>@Html.ActionLink("Вход", "Login", "Account")</li>
                                <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>

                            </text>
                        }
                        else
                        {
                            <text>
                                
                                @*<li>@Html.ActionLink("Мой блог", "BlogDetails", "Blog", new {Id =  }
                            )</li>*@
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>Мой Аккаунт</span> <i class="icon-user fa"></i> <i class=" icon-down-open-big fa"></i></a>
                            <ul class="dropdown-menu user-menu">
                                <li><a class="active" href="/Home/PrivateOffice"><i class="icon-folder-close"></i>Личный кабинет </a></li>
                                <li><a href="/Blog/MyBlog/@WebSecurity.CurrentUserId"><i class="icon-folder-close"></i> Мои блоги </a></li>
                                <li><a href="/Review/MyReviews/@WebSecurity.CurrentUserId"><i class="icon-folder-close"></i> Мои отзывы </a></li>
                                <li><a href="/Adv/MyAdv/@WebSecurity.CurrentUserId"><i class="icon-th-thumb"></i> Мои объявления </a></li>
                                <li><a href="/Adv/Favorite/@WebSecurity.CurrentUserId"><i class="icon-heart"></i> Избранные объявления </a></li>
                                <li><a href="/Adv/Saved/@WebSecurity.CurrentUserId"><i class="icon-star-circled"></i> Сохраненный поиск </a></li>
                                <li><a href="/Adv/Archive/@WebSecurity.CurrentUserId"><i class=" icon-folder-close"></i> Архивные объявления </a></li>
                                @*<li><a href="account-pending-approval-ads.html"><i class="icon-hourglass"></i> Ожидающие подтверждения </a></li>*@
                                @*<li><a href="statements.html"><i class=" icon-money "></i> Payment history </a></li>*@
                            </ul>
                        </li>

                                <li>@Html.ActionLink("Выход", "LogOff", "Account")</li>
                            </text>
                        }
                        <li class="postadd">
                            <div class="btn btn-block btn-border btn-post btn-danger fa add-details">@Html.ActionLink("+ Объявление", "PostAdv", "Adv", null, new {@class = "add-image"})</div>
                        </li>

                        <li class="postadd">
                            <div class="btn btn-primary small">@Html.ActionLink("+ Отзыв", "PostReview", "Review")</div>
                        </li>
                        <li class="postadd">
                            <div class="btn btn-success small">@Html.ActionLink("+ Блог", "Create", "Blog")</div>
                        </li>
                    </ul>

                </div>
                <!--/.nav-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <div id="body">

        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- adv large long box -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-9707096941681181"
         data-ad-slot="8754484356"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
                        <div class="footer" id="footer">
                            <div class="container">
                                <ul class=" pull-left navbar-link footer-nav">
                                    <li>
                                        @Html.ActionLink("ГЛАВНАЯ", "Index", "Home") @Html.ActionLink("О НАС", "Contact", "Home") @*<a href="#"> Terms and Conditions </a> <a href="#"> Privacy Policy </a> <a href="contact.html"> Contact us </a>*@
                                        @Html.ActionLink("FAQ", "FAQ", "Home")
                                        @Html.ActionLink("ОТПРАВИТЬ СООБЩЕНИЕ", "Contact", "Home")
                                        <script type="text/javascript">
<!--
                    document.write("<a href='//www.liveinternet.ru/click' " +
                        "target=_blank><img src='//counter.yadro.ru/hit?t14.6;r" +
                        escape(document.referrer) + ((typeof(screen) == "undefined") ? "" :
                            ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                                screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                        ";" + Math.random() +
                        "' alt='' title='LiveInternet: показано число просмотров за 24" +
                        " часа, посетителей за 24 часа и за сегодня' " +
                        "border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
                                        <!-- Rating@Mail.ru counter -->
                                        <script type="text/javascript">
                                            var _tmr = window._tmr || (window._tmr = []);
                                            _tmr.push({ id: "2727135", type: "pageView", start: (new Date()).getTime() });
                                            (function (d, w, id) {
                                                if (d.getElementById(id)) return;
                                                var ts = d.createElement("script");
                                                ts.type = "text/javascript";
                                                ts.async = true;
                                                ts.id = id;
                                                ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
                                                var f = function () {
                                                    var s = d.getElementsByTagName("script")[0];
                                                    s.parentNode.insertBefore(ts, s);
                                                };
                                                if (w.opera == "[object Opera]") {
                                                    d.addEventListener("DOMContentLoaded", f, false);
                                                } else {
                                                    f();
                                                }
                                            })(document, window, "topmailru-code");
                                        </script><noscript>
                                            <div style="position: absolute; left: -10000px;">
                                                <img src="//top-fwz1.mail.ru/counter?id=2727135;js=na" style="border: 0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
                                            </div>
                                        </noscript>
                                        <!-- Rating@Mail.ru logo -->
                                        <a href="http://top.mail.ru/jump?from=2727135">
                                            <img src="//top-fwz1.mail.ru/counter?id=2727135;t=479;l=1"
                                                 style="border: 0;" height="31" width="88" alt="Рейтинг@Mail.ru" />
                                        </a>
                                        <!-- Yandex.Metrika counter -->
                                        <!-- Yandex.Metrika informer -->
                                        <a href="https://metrika.yandex.ru/stat/?id=34463650&amp;from=informer"
                                           target="_blank" rel="nofollow">
                                            <img src="https://informer.yandex.ru/informer/34463650/3_0_FFFFFFFF_EFEFEFFF_0_pageviews"
                                                 style="width: 88px; height: 31px; border: 0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick=" try {Ya.Metrika.informer({ i: this, id: 34463650, lang: 'ru' });return false} catch (e) {} " />
                                        </a>
                                        <!-- /Yandex.Metrika informer -->
                                        <!-- Yandex.Metrika counter -->
                                        <script type="text/javascript">
                                            (function (d, w, c) {
                                                (w[c] = w[c] || []).push(function () {
                                                    try {
                                                        w.yaCounter34463650 = new Ya.Metrika({
                                                            id: 34463650,
                                                            clickmap: true,
                                                            trackLinks: true,
                                                            accurateTrackBounce: true
                                                        });
                                                    } catch (e) {
                                                    }
                                                });

                                                var n = d.getElementsByTagName("script")[0],
                                                    s = d.createElement("script"),
                                                    f = function () { n.parentNode.insertBefore(s, n); };
                                                s.type = "text/javascript";
                                                s.async = true;
                                                s.src = "https://mc.yandex.ru/metrika/watch.js";

                                                if (w.opera == "[object Opera]") {
                                                    d.addEventListener("DOMContentLoaded", f, false);
                                                } else {
                                                    f();
                                                }
                                            })(document, window, "yandex_metrika_callbacks");
                                        </script>
                                        <noscript>
                                            <div>
                                                <img src="https://mc.yandex.ru/watch/34463650" style="position: absolute; left: -9999px;" alt="" />
                                            </div>
                                        </noscript>
                                        <!-- /Yandex.Metrika counter -->
                                        <!-- /Yandex.Metrika counter -->
                                        <!-- //Rating@Mail.ru logo -->
                                    <!-- //Rating@Mail.ru counter -->
                                        <!-- begin of Top100 code -->

                                        <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?4397308"></script>
                                        <noscript>
                                            <a href="http://top100.rambler.ru/navi/4397308/">
                                                <img src="http://counter.rambler.ru/top100.cnt?4397308" alt="Rambler's Top100" border="0" />
                                            </a>

                                        </noscript>
                                        <!-- end of Top100 code -->
                                </ul>
                                <ul class=" pull-right navbar-link footer-nav">
                                    <li>
                                        &copy; 2015 ADV.SPARE-AUTO.COM
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
</body>
</html>
