@model DAL.AdvModel
<script src="../../assets/js/owl.carousel.min.js"></script>
<script src="../../assets/js/adsdetails.js"></script>



<script>
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            pagerCustom: '#bx-pager'
        });
    });


</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="main-container">
            <div class="container">
                @*  <ol class="breadcrumb pull-left">
                        <li><a href="#"><i class="icon-home fa"></i></a></li>
                        <li><a href="category.html">All Ads</a></li>
                        <li><a href="sub-category-sub-location.html">Electronics</a></li>
                        <li class="active">Mobile Phones</li>
                    </ol>*@
                <div onclick="history.back(); " class="pull-right backtolist">
                    <a href="#"><i class="fa fa-angle-double-left"></i>К результатам</a>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-9 page-content col-thin-right">
                        <div class="inner-box relative">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- adv large long box -->
                            <ins class="adsbygoogle"
                                 style="display: block"
                                 data-ad-client="ca-pub-9707096941681181"
                                 data-ad-slot="8754484356"
                                 data-ad-format="auto"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>

                        </div>
                        <div class="inner inner-box ads-details-wrapper">
                            <h2>
                                @Html.DisplayTextFor(x => x.Name) @*<small class="label label-default adlistingtype">Company ad</small>*@
                            </h2>
                            <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> @Html.DisplayTextFor(x => x.Created) </span> - <span class="category">@Html.DisplayTextFor(x => x.CategoryName) </span>- <span class="item-location"><i class="fa fa-map-marker"></i> @Html.DisplayTextFor(x => x.LocationName) </span> </span>
                            <div class="ads-image">
                                <h1 class="pricetag">@Html.DisplayTextFor(x => x.PriceLabel)</h1>
                                <ul class="bxslider">
                                    @foreach (var item in Model.ImgIds)
                                    {
                                        <li><img src="/Photo/Index/@item" alt="img"/></li>
                                    }
                                </ul>
                                <div id="bx-pager">
                                    @for (var i = 0; i < Model.ImgIds.Length; i++)
                                    {
                                        <a class="thumb-item-link" data-slide-index="@i" href=""><img src="/Photo/Index/@Model.ImgIds[i]" alt="img"/></a>
                                    }
                                </div>
                            </div>
                            <!--ads-image-->

                            <div class="Ads-Details">
                                <h5 class="list-title"><strong>Подробности объявления</strong></h5>
                                <div class="row">
                                    <div class="ads-details-info col-md-8">
                                        @Html.DisplayTextFor(x => x.Description)
                                    </div>
                                    <div class="col-md-4">
                                        <aside class="panel panel-body panel-details">
                                            <ul>
                                                <li>
                                                    <p class=" no-margin ">
                                                        <strong>Цена:</strong> @Html.DisplayTextFor(x => x.PriceLabel)
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="no-margin">
                                                        <strong>Тип:</strong> @Html.DisplayTextFor(x => x.CategoryName)
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="no-margin">
                                                        <strong>Локация:</strong> @Html.DisplayTextFor(x => x.LocationName)
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class=" no-margin ">
                                                        <strong>Состояние:</strong> @Html.DisplayTextFor(x => x.condition)
                                                    </p>
                                                </li>
                                                @*<li>
                                                    <p class="no-margin">
                                                        <strong>Фирма:</strong>Sony
                                                    </p>
                                                </li>*@
                                            </ul>
                                        </aside>
                                        <div class="ads-action">
                                            <ul class="list-border">
                                                <li><a href="#"> <i class=" fa fa-user"></i>Объявления этого продавца </a> </li>
                                                <li><a href="#"> <i class=" fa fa-heart"></i>Сохранить объявление</a> </li>
                                                <li><a href="#"> <i class="fa fa-share-alt"></i>Забрать на внешний сайт</a> </li>
                                                <li><a href="#reportAdvertiser" data-toggle="modal"> <i class="fa icon-info-circled-alt"></i>Пожаловаться</a> </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-footer text-left">
                                    <a class="btn btn-default" data-toggle="modal" href="#contactAdvertiser"><i class=" icon-mail-2"></i>Отправить сообщение</a> <a class="btn  btn-info"><i class=" icon-phone-1"></i>@Model.SellerPhone</a>
                                </div>
                            </div>
                        </div>
                        <!--/.ads-details-wrapper-->
                        <div class="inner-box relative">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- adv large long box -->
                            <ins class="adsbygoogle"
                                 style="display: block"
                                 data-ad-client="ca-pub-9707096941681181"
                                 data-ad-slot="8754484356"
                                 data-ad-format="auto"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>

                        </div>

                    </div>
                    <!--/.page-content-->


                        <div class="col-sm-3  page-sidebar-right">
                            <aside>
                                <div class="panel sidebar-panel panel-contact-seller">
                                    <div class="panel-heading">Связаться с продавцом</div>
                                    <div class="panel-content user-info">
                                        <div class="panel-body text-center">
                                            <div class="seller-info">
                                                <h3 class="no-margin">@Model.SellerName</h3>
                                                <p>
                                                    Геолокация: <strong>@Model.LocationName</strong>
                                                </p>
                                                <p>
                                                    Регистрация: <strong>@(Model.JoinedDate > new DateTime(1000, 1, 1) ? Model.JoinedDate.ToString() : "Не зарегистрирован") </strong>
                                                </p>
                                            </div>
                                            <div class="user-ads-action">
                                                <a href="#contactAdvertiser" data-toggle="modal" class="btn   btn-default btn-block"><i class=" icon-mail-2"></i>Отправить сообщение</a> <a class="btn  btn-info btn-block"><i class=" icon-phone-1"></i>@Model.SellerPhone</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel sidebar-panel">
                                    <div class="panel-heading">Советы безопасной покупки</div>
                                    <div class="panel-content">
                                        <div class="panel-body text-left">
                                            <ul class="list-check">
                                                <li>Встречайтесь в общественном месте</li>
                                                <li>Хорошо проверьте вешь перед покупкой</li>
                                                <li>Платите после того как взяли вещь</li>
                                            </ul>
                                            <p>
                                                <a class="pull-right" href="#">Подробнее...<i class="fa fa-angle-double-right"></i> </a>
                                            </p>
                                        </div>
                                    </div>


                                </div>

                                <div class="promo-text-box">
                                    <i class=" icon-picture fa fa-4x icon-color-1"></i>
                                    <h3><strong>Размещайте объявления</strong></h3>
                                    <p> У нас один из самых удобных сервисов для поиска и размещения объявлений в рунете. </p>
                                </div>

                                <div class="panel sidebar-panel">
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- skyscrapper -->
                                    <ins class="adsbygoogle"
                                         style="display:inline-block;width:300px;height:600px"
                                         data-ad-client="ca-pub-9707096941681181"
                                         data-ad-slot="6261579150"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                                <!--/.categories-list-->
                            </aside>
                        </div>
                        <!--/.page-side-bar-->
                    </div>
                </div>
            </div>
        </fieldset>

    }
    <!-- /.          main - container -- >

    <!-- /.wrapper -->
    <!-- Modal contactAdvertiser -->

    <div class="modal fade" id="reportAdvertiser" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa icon-info-circled-alt"></i> Что не так с этим объявлением? </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="report-reason" class="control-label">Причина:</label>
                            <select name="report-reason" id="report-reason" class="form-control">
                                <option value="">Выберите причину:</option>
                                <option value="soldUnavailable">Нет в наличии</option>
                                <option value="fraud">Мошенничество</option>
                                <option value="duplicate">Задвоено</option>
                                <option value="spam">Спам</option>
                                <option value="wrongCategory">Неправильная категория</option>
                                <option value="other">Другое</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="recipient-email" class="control-label">Ваш E-mail:</label>
                            <input type="text" name="email" maxlength="60" class="form-control" id="recipient-email">
                        </div>
                        <div class="form-group">
                            <label for="message-text2" class="control-label">Сообщение <span class="text-count">(300) </span>:</label>
                            <textarea class="form-control" id="message-text2"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" onclick="$('#contactAdvertiser').remove();" class="btn btn-primary">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /.modal -->
    <!-- Modal contactAdvertiser -->

    <div class="modal fade" id="contactAdvertiser" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class=" icon-mail-2"></i> Связаться с продавцом</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Имя:</label>
                            <input class="form-control required" id="recipient-name" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text">
                        </div>
                        <div class="form-group">
                            <label for="sender-email" class="control-label">Почта:</label>
                            <input id="sender-email" type="text" data-content="Must be a valid e-mail address (user@gmail.com)" data-trigger="manual" data-placement="top" placeholder="email@you.com" class="form-control email">
                        </div>
                        <div class="form-group">
                            <label for="recipient-Phone-Number" class="control-label">Телефон:</label>
                            <input type="text" maxlength="60" class="form-control" id="recipient-Phone-Number">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Сообщение<span class="text-count">(300) </span>:</label>
                            <textarea class="form-control" id="message-text" placeholder="Ваш текст..." data-placement="top" data-trigger="manual"></textarea>
                        </div>
                        <div class="form-group">
                            <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-success pull-right">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 reg-sidebar">
        <div class="reg-sidebar-inner text-center">

        </div>
    </div><!--/.reg-sidebar-->
    <div class="no-margin item-carousel owl-carousel owl-theme">

    </div>
